/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color: none;
    -fx-background-image: url('../imagens/fundoLogin.jpg');
    
}

#btnLogar:hover{
     -fx-background-color: white;
     -fx-cursor: hand;
}

#btnSair:hover{
    -fx-background-color: white;
    -fx-cursor: hand;
}